<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>defaultRowCountPerPage</param-name>
        <param-value>20</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dao.xml,/WEB-INF/service.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.qog.controller.AuthorizeFilter</filter-class>
        <init-param>
            <param-name>fileEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/html/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>excludedPages</param-name>
            <param-value>
                /html/about.html,/html/index.html,/html/surveycenter.html,/html/index.html,/html/usercenter.html,/html/test.html
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.qog.util.SetCharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>com.qog.controller.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IsUserAliveServlet</servlet-name>
        <servlet-class>com.qog.controller.IsUserAliveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsUserAliveServlet</servlet-name>
        <url-pattern>/isuseralive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NavMadeServlet</servlet-name>
        <servlet-class>com.qog.controller.NavMadeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NavMadeServlet</servlet-name>
        <url-pattern>/navmade</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NavServlet</servlet-name>
        <servlet-class>com.qog.controller.NavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NavServlet</servlet-name>
        <url-pattern>/nav</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SurveyDataGridServlet</servlet-name>
        <servlet-class>com.qog.controller.SurveyDataGridServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyDataGridServlet</servlet-name>
        <url-pattern>/surveydatagrid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDataGridServlet</servlet-name>
        <servlet-class>com.qog.controller.UserDataGridServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDataGridServlet</servlet-name>
        <url-pattern>/userdatagrid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnswerDataGridServlet</servlet-name>
        <servlet-class>com.qog.controller.AnswerDataGridServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnswerDataGridServlet</servlet-name>
        <url-pattern>/answerdatagrid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSurveyServlet</servlet-name>
        <servlet-class>com.qog.controller.AddSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSurveyServlet</servlet-name>
        <url-pattern>/addsurvey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSurveyServlet</servlet-name>
        <servlet-class>com.qog.controller.DeleteSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSurveyServlet</servlet-name>
        <url-pattern>/deletesurvey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAnswerServlet</servlet-name>
        <servlet-class>com.qog.controller.DeleteAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAnswerServlet</servlet-name>
        <url-pattern>/deleteanswer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckSurveyServlet</servlet-name>
        <servlet-class>com.qog.controller.CheckSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckSurveyServlet</servlet-name>
        <url-pattern>/checksurvey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.qog.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditSurveyServlet</servlet-name>
        <servlet-class>com.qog.controller.EditSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditSurveyServlet</servlet-name>
        <url-pattern>/editsurvey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.qog.controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSurveyServlet</servlet-name>
        <servlet-class>com.qog.controller.GetSurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSurveyServlet</servlet-name>
        <url-pattern>/getsurvey</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAnalysisServlet</servlet-name>
        <servlet-class>com.qog.controller.GetAnalysisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAnalysisServlet</servlet-name>
        <url-pattern>/getanalysis</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSingleAnalysisServlet</servlet-name>
        <servlet-class>com.qog.controller.GetSingleAnalysisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSingleAnalysisServlet</servlet-name>
        <url-pattern>/getsingleanalysis</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAnswersServlet</servlet-name>
        <servlet-class>com.qog.controller.GetAnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAnswersServlet</servlet-name>
        <url-pattern>/getanswers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAnswerSheetServlet</servlet-name>
        <servlet-class>com.qog.controller.GetAnswerSheetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAnswerSheetServlet</servlet-name>
        <url-pattern>/getanswersheet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownLoadAnswerSheetServlet</servlet-name>
        <servlet-class>com.qog.controller.DownLoadAnswerSheetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownLoadAnswerSheetServlet</servlet-name>
        <url-pattern>/downloadanswersheet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSurveyForIndexServlet</servlet-name>
        <servlet-class>com.qog.controller.GetSurveyForIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSurveyForIndexServlet</servlet-name>
        <url-pattern>/getsurveyforindex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>com.qog.controller.GetUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/getuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetOptionsServlet</servlet-name>
        <servlet-class>com.qog.controller.GetOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOptionsServlet</servlet-name>
        <url-pattern>/getoptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetQuestionsServlet</servlet-name>
        <servlet-class>com.qog.controller.GetQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQuestionsServlet</servlet-name>
        <url-pattern>/getquestions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.qog.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>com.qog.controller.AddUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/addusers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveQuestionsServlet</servlet-name>
        <servlet-class>com.qog.controller.SaveQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveQuestionsServlet</servlet-name>
        <url-pattern>/savequestions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveAnswersServlet</servlet-name>
        <servlet-class>com.qog.controller.SaveAnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAnswersServlet</servlet-name>
        <url-pattern>/saveanswers</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>html/index.html</welcome-file>
    </welcome-file-list>
</web-app>